<ion-header>
  <ion-toolbar>
    <ion-title>Añadir Tarea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img (click)="createPopover()" style="display: block;margin-left: auto;margin-right: auto;width: 40%;" [src]="image" />

  <form [formGroup]="taskForm">
    <ion-item>
      <ion-label position="floating">Título</ion-label>
      <ion-input formControlName="titulo" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Hora de comienzo:</ion-label>
      <ion-datetime formControlName="horaComienzo" displayFormat="HH:mm" placeholder="Selecciona una hora" display-timezone="utc"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Hora de finalización:</ion-label>
      <ion-datetime formControlName="horaFinalizacion" displayFormat="HH:mm" placeholder="Selecciona una hora" display-timezone="utc"></ion-datetime>
    </ion-item>
    <ion-select formControlName="perfil" [(ngModel)]="perfilSeleccionado" placeholder="Selecciona un perfil">
      <ion-select-option  value="user1">user1</ion-select-option>
      <ion-select-option value="user2">user2</ion-select-option>
  
    </ion-select>
  </form>
  
  <ion-button expand="full" color="primary" (click)="crearTask()" [disabled]="taskForm.invalid">{{id ? 'Editar Tarea' : 'Crear Tarea'}}</ion-button>


</ion-content>

