<ion-header>
  <ion-toolbar>
    <ion-title>AGENDA</ion-title>
    <ion-button color="{{bloqueado ? 'success':'danger'}}" (click)="bloquear()">
      
      <ion-icon name="{{bloqueado ? 'lock':'unlock'}}"></ion-icon>
    </ion-button>
    <ion-progress-bar color="danger" [value]=time></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div slot="{{bloqueoScroll}}"> <!--fixed-->
  <ion-button routerLink="/config">Configuración</ion-button>


  <ion-select [(ngModel)]="perfilSeleccionado" (ionChange)="loadPerfil($event)" placeholder="Selecciona un perfil">
    <ion-select-option *ngFor="let perfil of perfiles" value="{{perfil}}">{{perfil}}</ion-select-option>
  </ion-select>

  <ion-img *ngIf="!perfilSeleccionado" src="assets/seleccionaUsuario.png"></ion-img>

  <ion-list *ngIf="perfilSeleccionado" >

    <!-- ANIMACIÓN MIENTRAS CARGA LA LISTA-->
    <ng-container *ngIf="!tasks || tasks.length == 0 ">
      <div *ngFor="let n of [0,1,2]" padding>
        <ion-skeleton-text></ion-skeleton-text>
        <p>
          <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
        </p>
      </div>
    </ng-container>

    <ion-item-sliding *ngFor="let task of tasks">
      <ion-item id="{{task.id}}">
        <ion-card color="{{task.horaFinalizacion.toMillis() | compruebaFinalizacion}}">

          <ion-card-header>
            <ion-card-title>{{task.name}} </ion-card-title>

            <ion-card-subtitle>{{task.horaComienzo.toMillis()| date : 'HH:mm'}} -
              {{task.horaFinalizacion.toMillis()| date : 'HH:mm'}}</ion-card-subtitle>
            <ion-card-subtitle>

            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-img [src]="task.image"></ion-img>
          </ion-card-content>
        </ion-card>

      </ion-item>
      <ion-item-options side="end" (ionSwipe)="delete(task.id)">
        <ion-item-option (click)="delete(task.id)" color="danger" expandable>
          <ion-icon name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-item-options side="start" (ionSwipe)="edit(task.id)">
        <ion-item-option (click)="edit(task.id)" color="primary" expandable>
          <ion-icon name="brush"></ion-icon>
        </ion-item-option>
      </ion-item-options>


    </ion-item-sliding>
  </ion-list>


</div>


</ion-content>